section.wl-main-canvas {
    padding: 70px 141px 10px 470px;
    height: 100dvh;
    margin: 0;
}
section.wl-main-canvas .card-canvas {
    box-shadow: 0px 32px 64px -12px #737373A3;
    border-radius: 8px;
    position: relative;
    width: 420px;
    height: 605px;
    margin:0 auto;
    overflow: hidden;
}
section.wl-main-canvas .inner-colum {
    padding: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 32px 64px -12px #10182824;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

section.wl-main-canvas .wl-lower-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 24px;
    left: 0;
    bottom: 0;
}
@media only screen and (max-width:1600px) {
    section.wl-main-canvas {
    padding: 70px 100px 10px 420px;
}
}
@media only screen and (max-width:1300px) {
    section.wl-main-canvas {
        padding: 70px 80px 10px 380px;
}
}
@media only screen and (max-width:1199px) {
    section.wl-main-canvas {
        padding: 130px 0 10px 380px;
}

section.wl-main-canvas .inner-container {
    padding: 0px;
}
.btn-side-bar{
    padding: 8px 0;
}
/* .wl-right-slide-bar {
    top: auto;
    bottom: 0;
    height: 60px;
    width: 100%;
} */
.btn-side-bar{
    row-gap: 5px;
}
}
@media only screen and (max-width:991px) {
    section.wl-main-canvas {
        padding: 130px 0 80px 0;
}
/* .wl-left-slide-bar {
    bottom: auto;
} */

/* .wl-left-slide-bar>.inner-colum>.nav-pills {
    position: fixed;
    top: 48px;
    border-bottom: 1px solid #bbbcbf;
    background-color: #ffffff;
    height: 70px;
} */
.wl-left-slide-bar .nav-link{
    row-gap: 5px;
}
.wl-left-slide-bar.active {
    max-height: 200px;
    /* top: 118px;
    border-radius: 0 0 16px 16px; */
}
.tab-content>.tab-pane>.mobail-tab>.nav-tabs {
    padding: 5px 16px 0;
}
.custom-select {
    padding: 8px 16px;
}
.form-group .text-style-btn-1{
    height: 38px;
}

}
@media only screen and (max-width:500px) {
    section.wl-main-canvas .card-canvas {
    box-shadow: 0px 32px 64px -12px #737373A3;
    border-radius: 8px;
    position: relative;
    width: 250px;
    height: 425px;
    margin: 0 auto;
    overflow: hidden;
}

}
@media only screen and (max-width:991px) and (max-height:800px) {
    section.wl-main-canvas .inner-colum {
        padding-top: 10px;
    }
    
    section.wl-main-canvas .wl-lower-btn {
        padding-bottom: 5px;
    }
    section.wl-main-canvas {
    padding: 130px 0 70px 0;
}
section.wl-main-canvas .card-canvas{
    width: 230px;
        height: 355px;
}
}